# System files
.DS_Store

# Any config files, with some exceptions
/config/*
!/config/dunst/dunstrc
!/config/gtk-3.0/settings.ini
!/config/gtk-4.0/settings.ini
!/config/i3/config
!/config/i3status/config
!/config/nvim/coc-settings.json
!/config/nvim/init.vim
!/config/ranger/rc.conf

# Fonts UUID
/fonts/.uuid
