# System files
.DS_Store

# Any config files, with some exceptions
/config/*
!/config/dunst/dunstrc
!/config/fontconfig
!/config/gtk-3.0/settings.ini
!/config/gtk-4.0/settings.ini
!/config/i3/config
!/config/i3status/config
!/config/mimeapps.list
!/config/nvim/coc-settings.json
!/config/nvim/init.vim
!/config/ranger/rc.conf

# Any local files, with some exceptions
/local/*
!/local/bin/clipboard-menu
!/local/bin/take-screenshot
!/local/bin/ix

# Any kind of UUID files
.uuid
