[submodule "janus/hammer.vim"]
  path = janus/hammer.vim
  url = https://github.com/matthias-guenther/hammer.vim.git
  ignore = dirty
[submodule "janus/vim-autoclose"]
  path = janus/vim-autoclose
  url = https://github.com/Townk/vim-autoclose.git
  ignore = dirty
[submodule "janus/vim-bundler"]
  path = janus/vim-bundler
  url = https://github.com/tpope/vim-bundler.git
  ignore = dirty
[submodule "janus/vim-markdown"]
  path = janus/vim-markdown
  url = https://github.com/plasticboy/vim-markdown.git
  ignore = dirty
[submodule "janus/vim-powerline"]
  path = janus/vim-powerline
  url = https://github.com/Lokaltog/vim-powerline.git
  ignore = dirty
[submodule "janus/vim-rvm"]
  path = janus/vim-rvm
  url = https://github.com/tpope/vim-rvm.git
  ignore = dirty
[submodule "janus/vim-smartinput"]
  path = janus/vim-smartinput
  url = https://github.com/kana/vim-smartinput.git
  ignore = dirty
[submodule "janus/vimux"]
  path = janus/vimux
  url = https://github.com/benmills/vimux.git
  ignore = dirty
[submodule "janus/emmet-vim"]
  path = janus/emmet-vim
  url = https://github.com/mattn/emmet-vim.git
  ignore = dirty
[submodule "janus/tabular"]
	path = janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "janus/golden-ratio"]
	path = janus/golden-ratio
	url = https://github.com/roman/golden-ratio.git
